fastapi[all]
uvicorn[standard]
PyJWT
python-dotenv
pydantic
sqlalchemy
psycopg2-binary
alembic
passlib==1.7.4
bcrypt==4.0.1
python-multipart
azure-ai-documentintelligence
azure-core
openai==1.93.2
websockets
redis
playwright
dramatiq[redis]
cryptography
httpx
pymupdf
pillow
opencv-python-headless
pytesseract
numpy
fastapi-mail
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-api-python-client==2.108.0
google-auth-httplib2==0.1.1
prometheus-client